<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Binding</title>
    <script src="angular-js.js"></script>
  </head>
  <body>
    <div ng-app="mod">
      <section ng-controller="ctrlBind">
        <h1>Student Roll Number: {{student.roll}}</h1>
        <h1>Student Name: {{student.name | uppercase}}</h1>
        <h1>Student CGPA: {{student.cgpa}}</h1>

        <br />
        <br />

        <label>Enter Student Roll Number: </label>
        <input type="text" ng-model="student.roll" />
        <br />
        <label>Enter Student Name: </label>
        <input type="text" ng-model="student.name" />
        <br />
        <label>Enter Student CGPA: </label>
        <input type="text" ng-model="student.cgpa" />
      </section>
    </div>

    <script>
      angular.module("mod", []).controller("ctrlBind", function ($scope) {
        $scope.student = {
          roll: 101,
          name: "Sachin",
          cgpa: 7.5,
        };
      });
    </script>
  </body>
</html>
